<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2016.  SmartHMA ESA
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest
    package="pl.wasat.smarthma"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name=".SmartHMApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher_square"
        android:label="@string/app_name"
        android:theme="@style/AppNoActionBarTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id"/>

        <activity
            android:name=".ui.activities.StartActivity"
            android:label="@string/app_name"
            android:theme="@style/AppFullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.CollectionsDefinitionActivity"
            android:label="@string/activity_name_collections_definition"
            android:screenOrientation="sensorLandscape">
            <meta-data
                android:name="android.app.default_searchable"
                android:value="pl.wasat.smarthma.ui.activities.SearchCollectionResultsActivity"/>
        </activity>
        <activity
            android:name=".ui.activities.CollectionsBrowserActivity"
            android:label="@string/activity_name_collections_browser"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name=".ui.activities.ProductsBrowserActivity"
            android:label="@string/activity_name_products_browser"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".ui.activities.SearchActivity"
            android:label="@string/activity_name_search_eo_data"
            android:screenOrientation="sensorLandscape">
            <meta-data
                android:name="android.app.default_searchable"
                android:value="pl.wasat.smarthma.ui.activities.SearchCollectionResultsActivity"/>
        </activity>

        <!-- Search results activity -->
        <activity
            android:name=".ui.activities.SearchCollectionResultsActivity"
            android:label="@string/activity_name_search_collections_results"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity
            android:name=".ui.activities.MissionsActivity"
            android:label="@string/esa_missions"
            android:screenOrientation="sensorLandscape">
        </activity>
        <activity
            android:name=".ui.activities.NewsActivity"
            android:label="@string/title_article_list"
            android:screenOrientation="sensorLandscape">
        </activity>
        <activity android:name=".ui.activities.base.BaseSmartHMActivity"/>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".ui.activities.GlobalSettingsActivity"
            android:label="@string/global_settings"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".ui.activities.FavouriteCollectionsActivity"
            android:label="@string/activity_name_favourite_collections_results"
            android:launchMode="singleTop"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity
            android:name=".ui.activities.FavouriteProductsActivity"
            android:label="@string/activity_name_products_browser"
            android:screenOrientation="sensorLandscape"/>

        <!-- dropbox register activity-->
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-dscp3uh0qqd1o29"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.DownloadActivity"
            android:label="@string/title_activity_download"
            android:screenOrientation="sensorLandscape"/>

        <activity android:name=".ui.widgets.WidgetConfigActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <!-- ROBOSPICE SERVICES -->

        <service
            android:name="com.octo.android.robospice.spicelist.okhttp.OkHttpBitmapSpiceService"
            android:exported="false"/>
        <service
            android:name=".services.SmartHmaHttpSpiceService"
            android:exported="false"/>

        <provider
            android:name="com.facebook.NativeAppCallContentProvider"
            android:authorities="com.facebook.app.NativeAppCallContentProvider355198514515820"
            android:exported="false"/>

        <receiver
            android:name=".receivers.SmartHmaFacebookBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.facebook.platform.AppCallResultBroadcast"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ui.widgets.RSSWidgetProvider"
            android:label="SmartHMA RSS">
            <intent-filter>

                <!-- This widget provider receives broadcast with following action name or simply onUpdate of AppWidgetProvider is called -->
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <!-- To receive broadcast with this string name -->
                <action android:name="pl.wasat.smarthma"/>
                <action android:name="pl.wasat.smarthma.TOAST_ACTION"/>
                <action android:name="pl.wasat.smarthma.EXTRA_ITEM"/>
                <action android:name="pl.wasat.smarthma.ARTICLE_AUTHOR"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/rss_widget_info"/>
        </receiver>

        <service
            android:name=".ui.widgets.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
        <service android:name=".ui.widgets.RemoteFetchService"/>

        <service
            android:name=".services.DownloadService"
            android:exported="false"/>
    </application>

</manifest>